<div class="bg-white relative mx-5 max-w-md w-full p-8 border transition group  border-briix-primary/25 cursor-pointer briix-shadow rounded-lg h-full lg:min-h-[300px] flex flex-col items-center justify-start">
    <div class="relative flex flex-col items-center justify-center">
        <div class="w-[74px] h-[74px] border bg-[#EAF6FB] border-[#C7E7F4] rounded-full flex flex-col items-center justify-center">
            <img src="{{ .icon }}" alt="{{ .icon }}" class="w-10 h-10">
        </div>
        <div class="mt-5 flex flex-col items-center">
            <h1 class="text-lg leading-snug font-medium">{{ .text }}</h1>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mt-5 text-briix-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                 <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
        </div>
    </div>
</div>