<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="max-w-screen-2xl mx-auto font-manrope antialiased">
   
            {{- partial "hero.html" . -}}

            <main>
                {{- partial "what-we-do.html" . -}}
                {{- partial "development.html" . -}}
                {{- partial "operations.html" . -}}
                {{- partial "social-responsibility.html" . -}}
                {{- partial "process.html" . -}}
                {{- partial "teams.html" . -}}
                {{- partial "contact.html" . -}}
            </main>

            {{- partial "footer.html" . -}}
            {{- partial "script.html" . -}}
        </div>

    </body>
</html>
