<div class="w-full lg:min-w-[200px] lg:max-w-[200px] group pb-2 transition">
    <div class="lg:h-[200px] bg-[#D9D9D9] overflow-hidden rounded-xl">
        {{ if .img }}
            {{ with resources.Get .img }}
                <img class="w-full h-full object-cover" src="{{ .RelPermalink }}" alt="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"/>
            {{ end }}
        {{else}}
            <img class="w-full h-full object-cover" src="https://t4.ftcdn.net/jpg/02/17/34/67/240_F_217346782_7XpCTt8bLNJqvVAaDZJwvZjm0epQmj6j.jpg" alt="placeholder"/>
        {{ end }}
    </div>
    <div class="mt-2 ">
        <p class="text-xl font-normal text-briix-primary">{{ .name }}</p>
        <p class="font-ligh mt-2">{{ .title }}</p>
    </div>
    <div class="h-0.5 w-1/2 rounded-md group-hover:bg-briix-primary mt-2"></div>
</div>