<div 
    class="{{ if eq (int .id) 1 }} bg-briix-blue-7 text-white {{ else if eq .id 2 }} bg-white text-briix-grey-7  {{ end }} p-5 lg:p-10 border border-briix-blue-7 sm:mx-auto w-full rounded-lg"
>
    <div class="mx-auto px-2">
      <h1 class="text-[28px] font-semibold"> {{ .title }}</h1>
      <div class="divide-y divide-gray-300/50">
        {{ range  .subContent}}
            <div class="space-y-6 py-8 text-base leading-7">
                <ul class="space-y-2">
                    <li class="flex">
                        <p class="ml-6 text-xl"><strong class="font-semibold">{{ .title }}</strong> —</p>
                    </li>
                    <div class="lg:pl-14">
                        {{ range .list}}
                         <div >&bull; {{ . }}</div> 
                        {{ end }}
                    </div>
                </ul>
            </div>
        {{ end }}
      </div>
    </div>
</div>