<section id="development" class="lg:mt-[200px]">
    <section class="h-auto mt-5 overflow-hidden bg-white">
        <div class="lg:pt-10 text-center">
            <h1 class="font-semibold text-2xl lg:text-[40px] leading-[47px] tracking-[0.2em] mb-10">OUR DEVELOPMENT</h1>
            <div class="relative z-10 h-full w-full">
                <p class="mt-2 lg:mt-[235px] max-w-4xl mx-auto lg:absolute inset-0 text-white text-xl lg:text-wxl font-normal lg:font-normal leading-[34px] lg:leading-[40px] text-center">We have a deep understanding of what it takes in order to execute a successful, large scale, real estate development - and have invested in to building the required infrastructure so our clients don’t need to. We have the track record, management team and expertise in order to turn concepts in to reality</p>
                <img class="h-full w-full object-cover" src="/img/our_development_1.jpg" alt="our_development_1">
            </div>
        </div>
    </section>

    <section class="relative">
        <div class="lg:absolute lg:right-40 top-1/4">
            <div class="bg-white/60 lg:leading-[40px] lg:max-w-[52rem] text-2xl py-10 px-16">
                Whether the intention is to sell the completed units or to hold the asset for the long term - a comprehensive operational strategy is required in order to realise the value created.
                <br class="hidden lg:block"/> 
                <br class="hidden lg:block"/> 
                BPG is the ideal partner for hotel and property management solutions. Our specialised team of management and marketing experts have the track record, experience and infrastructure required in order to deliver consistent, market leading asset performance.
            </div>
        </div>
        <img src="/img/our_development_2.jpg" alt="our_development_2">
    </section>

    <section class="h-auto overflow-hidden bg-white">
        <div class="text-center">
            <div class="relative z-10 h-full w-full">
                <p class="mt-2 lg:mt-32 max-w-4xl mx-auto lg:absolute inset-x-0 text-white text-xl lg:text-5xl font-normal lg:font-medium leading-[34px] lg:leading-[82px] text-center">
                    “Building a property development is only half the challenge.” 
                </p>
                <img class="h-full w-full object-cover"  src="/img/our_development_3.jpg" alt="our_development_3">
            </div>
        </div>
    </section>
</section>