<section id="development" class="lg:mt-[200px]">
    <section class="h-auto mt-5 overflow-hidden bg-white">
        <div class="lg:pt-10 text-center">
            <div class="relative z-10 w-full">
                <div class="mt-2 bg-white/60 h-max p-10 lg:mt-[235px] max-w-6xl mx-auto lg:absolute inset-0 text-briix-grey-7">
                    <noscript>
                        <h1 class="font-semibold text-2xl lg:text-[40px] leading-[47px] tracking-[0.2em]">OUR DEVELOPMENT</h1>
                        <p class="text-xl lg:text-wxl font-normal lg:font-normal leading-[34px] text-center">We have a deep understanding of what it takes in order to execute a successful, large scale, real estate development - and have invested in to building the required infrastructure so our clients don’t need to. We have the track record, management team and expertise in order to turn concepts in to reality</p>
                    </noscript>
                    <h1 data-aos="fade-up" class="font-semibold text-2xl lg:text-[40px] leading-[47px] tracking-[0.2em]">OUR DEVELOPMENT</h1>
                    <p data-aos="fade-up" class="text-xl lg:text-wxl font-normal lg:font-normal leading-[34px] text-center">We have a deep understanding of what it takes in order to execute a successful, large scale, real estate development - and have invested in to building the required infrastructure so our clients don’t need to. We have the track record, management team and expertise in order to turn concepts in to reality</p>
                </div>
                <img class="h-full w-full object-cover" src="/img/our_development_1.jpg" alt="our_development_1">
            </div>
        </div>
    </section>

    <section class="relative">
        <div class="lg:absolute lg:right-40 top-32">
            <div class="bg-white/60 lg:leading-[40px] lg:max-w-[52rem] text-2xl py-10 px-16">
                <noscript>
                    <p class="text-4xl leading-[61px] mb-16">“Building a property development is only half the challenge.” </p>
                    <p>
                        Whether the intention is to sell the completed units or to hold the asset for the long term - a comprehensive operational strategy is required in order to realise the value created.
                        <br class="hidden lg:block"/>
                        <br class="hidden lg:block"/>
                        BPG is the ideal partner for hotel and property management solutions. Our specialised team of management and marketing experts have the track record, experience and infrastructure required in order to deliver consistent, market leading asset performance.
                    </p>
                </noscript>
                <p data-aos="fade-down" class="text-4xl leading-[61px] mb-16">“Building a property development is only half the challenge.” </p>
                <p data-aos="fade-down">
                    Whether the intention is to sell the completed units or to hold the asset for the long term - a comprehensive operational strategy is required in order to realise the value created.
                    <br class="hidden lg:block"/>
                    <br class="hidden lg:block"/>
                    BPG is the ideal partner for hotel and property management solutions. Our specialised team of management and marketing experts have the track record, experience and infrastructure required in order to deliver consistent, market leading asset performance.
                </p>
             </div>
        </div>
        <img src="/img/our_development_2.jpg" alt="our_development_2">
    </section>
    
    <section class="mx-auto lg:mt-[140px] text-center briix-container">
        <div id="carousel-dev" class="carousel-dev py-10">
            {{ range $.Site.Data.dev.dev.data }}
                 <div class="w-[273px] h-[273px] rounded-full overflow-hidden mx-5">
                    <img class="h-full w-full object-cover" src="{{.img}}" alt="{{.text}}">
                    <div class="absolute inset-0 grid place-content-center">
                        <p class="font-medium text-2xl text-white">{{ .text }}</p>
                    </div>
                 </div>
            {{ end }}
        </div>
    </section>
</section>