<meta charset="UTF-8" />
<link rel="icon" href="/favicon.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Welcome to Briix Properties Group Website</title>
<meta name="description" content="Briix provides a wide range of property investments for investors looking to increase their real estate asset portfolio.">


{{ $options := dict "inlineImports" true }}
{{ $styles := resources.Get "css/main.css" }}
{{ $styles = $styles | resources.PostCSS $options }}

{{ if .Site.IsServer }}
    {{ $styles = $styles | minify | fingerprint }}
{{ end }}

<link href="{{ $styles.RelPermalink }}" rel="stylesheet" />