<section class="h-full w-full min-h-screen">
    {{- partial "header.html" . -}}

    {{/*  Hero Master Text  */}}
    <div class="absolute z-10 inset-0 text-center flex flex-col items-center pt-96">
        <p class="text-white font-semibold text-xl lg:leading-[50px] lg:text-[48px]">Providing comprehensive, integrated <br class="hidden lg:block"/> solutions for property developers</p>
    </div>
    
    {{/*  Video Hero  */}}
    <video class="object-cover h-full w-full lg:aspect-video" playsinline autoplay muted id="platformvid" loop>
        <source
            src="/video/hero_video.mp4"
            type="video/mp4"
        />
    </video>

</section>