<section class="h-full w-full">
    {{- partial "header.html" . -}}

    {{/*  Hero Master Text  */}}
    <div class="absolute z-10 inset-0 text-center flex flex-col items-center pt-96">
        {{/*  {{ with }}  */}}
            <noscript>
                <p class="text-white font-semibold text-xl lg:leading-[50px] lg:text-[48px]">{{ .pages}}</p>
            </noscript>
            <p data-aos="fade-up" class="text-white font-semibold text-xl lg:leading-[50px] lg:text-[48px]">{{ .herotitle }}</p>
        {{/*  {{end}}  */}}
    </div>
    
    {{/*  Video Hero  */}}
    <div class="h-full w-full max-h-screen">
        <video class="h-auto w-full lg:aspect-auto" playsinline autoplay muted loop>
            <source
                src="/video/hero_video.mp4"
                type="video/mp4"
            />
        </video>
    </div>

</section>