<section class="h-full w-full">
    {{- partial "header.html" . -}}

    {{/*  Hero Master Text  */}}
    <div class="absolute z-10 inset-0 text-center flex flex-col items-center pt-96">
            <p class="text-white font-semibold text-xl lg:leading-[50px] lg:text-[48px]">Providing comprehensive, integrated <br class="hidden lg:block"> solutions for property developers</p>
    </div>
    
    {{/*  Video Hero  */}}
    <div class="h-full w-full max-h-screen">
        {{ with resources.Get "video/hero_video.mp4" }}
            <video class="h-auto w-full lg:aspect-auto" playsinline autoplay muted loop>
                <source
                    src="{{ .RelPermalink }}"
                    type="video/mp4"
                />
            </video>
        {{end}}
    </div>

</section>