<section class="overflow-hidden" id="operation">
    <section class="lg:min-h-[633px] overflow-hidden relative mt-[200px]">
        <div class="grid relative">
            <div>
                <h1 class="uppercase text-xl lg:text-[40px] tracking-[0.3em] text-briix-grey-7 leading-[34px] font-medium text-center">Management Brands</h1>
                <div class="grid lg:grid-cols-2 mt-10">
                    <div class="overflow-hidden group relative cursor-pointer">
                        {{ with resources.Get "images/brand_1.jpg" }}
                            <img class="w-full h-full object-cover group-hover:scale-125 transition duration-1000" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="villa-ex-1">
                        {{ end }}
                        <div class="absolute inset-0 flex flex-col items-center justify-center">
                            {{ with resources.Get "images/siwa-logo.png" }}
                                <img width="258" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="siwa-logo">  
                            {{ end }}
                            <a href="https://siwacliffs.com/" target="_blank" type="button" class="border inline-flex items-center space-x-4 lg:mt-32 font-medium tracking-[0.1em] group-hover:border-white hover:border-briix-primary hover:text-briix-primary transition border-white/50 bg-none py-2 px-4 text-white/50 group-hover:text-white">
                                <span>VIEW DETAILS</span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="overflow-hidden group relative">
                        {{ with resources.Get "images/brand_2.jpg" }}
                            <img class="w-full h-full object-cover group-hover:scale-125 transition duration-1000" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="villa-ex-2">
                        {{ end }}
                        <div class="absolute inset-0 flex flex-col items-center justify-center">
                            {{ with resources.Get "images/ku-logo.png" }}
                                <img width="94" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="ku-logo">
                            {{ end }}  
                            <a href="https://kuvillas.com/" target="_blank" type="button" class="border inline-flex items-center space-x-4 lg:mt-32 font-medium tracking-[0.1em] group-hover:border-white hover:border-briix-primary hover:text-briix-primary transition border-white/50 bg-none py-2 px-4 text-white/50 group-hover:text-white">
                                <span>VIEW DETAILS</span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    <section class="briix-container w-full mt-[200px]">
        <h1 class="uppercase font-semibold text-2xl lg:text-[40px] lg:leading-[48px] text-center tracking-[0.2em]">BPG provides a better deal for our <br class="hidden lg:block"> owner clients</h1>
        <p class="mt-5 lg:my-10 lg:leading-[34px] lg:text-xl text-center text-briix-body">Our unique revenue sharing model has been designed to more efficiently align the interests of both owner and manager.</p>
        <div class="grid lg:grid-cols-2 gap-8 mt-10">
            {{ range $.Site.Data.table.table.data }}
                {{ partial "card-table.html" . }}
            {{ end }}
        </div>
    </section>
</section>