<section class="overflow-hidden" id="operation">
    <section class="lg:min-h-[633px] overflow-hidden relative py-[134px] briix-container bg-briix-blue-1">
        <div class="grid mt-5 lg:mt-[75px] font-manrope relative">
            <div class="grid lg:grid-cols-2">
                <div class="grid lg:grid-cols-2 relative">
                    <svg class="absolute -top-72 -left-72 w-full" width="280" height="351" viewBox="0 0 280 351" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                    </svg>
                    <svg class="absolute -bottom-72 -left-72 w-full" width="280" height="351" viewBox="0 0 280 351" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                    </svg>
                    <div class="relative z-10">
                        {{ with resources.Get "images/img/22.jpg" }}
                            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="lg:w-[287px]" alt="bpg-assets-22">
                        {{ end }}   
                        {{ with resources.Get "images/img/23.jpg" }}
                            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="mt-5 lg:mt-[70px] lg:w-[287px]" alt="bpg-assets-23">
                        {{ end }}
                    </div>
                    <div class="pt-5 lg:mt-[70px] relative z-10">
                        {{ with resources.Get "images/img/24.jpg" }}
                            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="lg:w-[287px]" alt="bpg-assets-22">
                        {{ end }}
                        {{ with resources.Get "images/img/25.jpg" }}
                            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="mt-5 lg:mt-[70px] lg:w-[287px]" alt="bpg-assets-23">
                        {{ end }}
                    </div>
                </div>
                <div class="mt-10 relative lg:mt-0 flex flex-col items-center justify-center">
                    <svg class="absolute -top-72 -right-80 w-full" width="280" height="351" viewBox="0 0 280 351" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="38.3559" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="76.7115" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="115.067" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="153.423" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="191.779" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="33.5139" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="67.0273" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="100.541" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="134.054" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="167.568" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="201.082" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="234.596" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="230.135" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="267.128" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="304.12" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                        <rect x="268.108" y="341.113" width="8.37839" height="9.58895" rx="1.34409" fill="white" fill-opacity="0.5"/>
                    </svg>
                    <div class="font-manrope lg:pl-[105px] lg:text-xl text-white leading-[34px] relative z-10">
                        <h1 class="font-manrope font-semibold text-briix-grey-7 text-2xl lg:text-5xl">Operations</h1>
                        <h2 class="font-semibold lg:mt-6 text-xl lg:text-[28px] leading-[47px] lg:leading-[47px] text-briix-primary">Building a property development is only half the challenge. </h2>
                    
                        <p class="mt-2 lg:mt-10 lg:text-xl font-normal lg:font-normal text-briix-body leading-[34px] lg:leading-[34px]">
                            Whether the intention is to sell the completed units or to hold the asset for the long term - a comprehensive operational strategy is required in order to realise the value created.
                            <br class="hidden lg:block"/>
                            <br class="hidden lg:block"/>
                            BPG is the ideal partner for hotel and property management solutions. Our specialised team of management and marketing experts have the track record, experience and infrastructure required in order to deliver consistent, market leading asset performance.
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="mt-12 lg:mt-[95px]">
                <h1 class="uppercase text-xl lg:text-[28px] tracking-[0.3em] text-briix-grey-7 leading-[34px] font-medium text-center">Management Brands</h1>

                <div class="grid gap-5 lg:grid-cols-2 lg:gap-10 mt-10">

                    <div class="rounded-xl overflow-hidden group relative cursor-pointer">
                        {{ with resources.Get "images/VillaG.png" }}
                            <img class="w-full h-full object-cover group-hover:scale-125 transition" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="villa-ex-1">
                        {{ end }}
                        <div class="absolute inset-0 flex flex-col items-center justify-center">
                            {{ with resources.Get "images/siwa-logo.png" }}
                                <img width="258" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="siwa-logo">  
                            {{ end }}
                        </div>
                    </div>
                    <div class="rounded-xl overflow-hidden group relative">
                        {{ with resources.Get "images/KuVilla4.png" }}
                            <img class="w-full h-full object-cover group-hover:scale-125 transition" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="villa-ex-2">
                        {{ end }}
                        <div class="absolute inset-0 flex flex-col items-center justify-center">
                            {{ with resources.Get "images/ku-logo.png" }}
                                <img width="94" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="ku-logo">
                            {{ end }}  
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    <section class="briix-container w-full py-[134px]">
        <h1 class="uppercase font-semibold text-2xl lg:text-[40px] lg:leading-[48px] text-center">BPG provides a better deal for our <br class="hidden lg:block"> owner clients</h1>
        <p class="mt-5 lg:leading-[34px] lg:text-xl text-center text-briix-body">Our unique revenue sharing model has been designed to more efficiently align the interests of both owner and manager.</p>
        <div class="grid lg:grid-cols-2 gap-8 mt-10">
            {{ range $.Site.Data.table.table.data }}
                {{ partial "card-table.html" . }}
            {{ end }}
        </div>
    </section>
</section>