<section id="process" class="relative overflow-hidden pb-[300px]">
    <!-- Ornament Section -->
    <svg class="absolute opacity-75" width="784" height="1118" viewBox="0 0 784 1118" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="225" cy="558.999" r="111.6" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
        <circle cx="225.001" cy="559.001" r="186" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
        <circle cx="225" cy="559" r="260.4" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
        <circle cx="225" cy="559.002" r="334.8" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
        <circle cx="225" cy="559" r="409.2" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
        <circle cx="225" cy="559.002" r="483.6" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
        <circle cx="225" cy="559" r="558" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
    </svg>

    <section class="lg:min-h-[559px] relative lg:pb-[134px] pt-20 lg:pt-[200px]">
        <h1 class="font-manrope text-center mb-12 font-semibold text-2xl lg:text-5xl">Process</h1>
        
        <div class="main-carousel w-full mx-auto px-10 briix-container">
            {{ range $.Site.Data.process.process.data }}
                 {{ partial "card-process.html" . }}
            {{ end }}
        </div>

        <div class="flex items-center justify-center mt-20">
            <div class="inline-flex items-center space-x-4">
                <div class="rounded-full bg-white w-5 h-5 hover:scale-125 transition-transform cursor-pointer"></div>
                <div class="rounded-full bg-white w-4 h-4 hover:scale-125 transition-transform cursor-pointer"></div>
                <div class="rounded-full bg-white w-4 h-4 hover:scale-125 transition-transform cursor-pointer"></div>
            </div>
        </div>
    </section>

    <section class="min-h-full lg:h-[852px] relative flex flex-col items-center justify-center">
        <div class="lg:mb-10">
            <h1 class="font-manrope font-semibold leading-[65px] text-2xl lg:text-5xl text-center">Briix Group</h1>    
        </div>
        <div class="w-full flex items-center justify-center relative">
            <div class="w-full hidden lg:block"></div>
            <img  class="absolute z-20 top-0 lg:w-auto w-80" src="/briix_group.svg" alt="briix_group">
            <svg  class="opacity-75" width="468" height="971" viewBox="0 0 468 971" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="485.5" cy="485.5" r="96.9" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
                <circle cx="485.5" cy="485.501" r="161.5" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
                <circle cx="485.5" cy="485.5" r="226.1" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
                <circle cx="485.5" cy="485.501" r="290.7" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
                <circle cx="485.5" cy="485.5" r="355.3" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
                <circle cx="485.5" cy="485.502" r="419.9" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
                <circle cx="485.5" cy="485.5" r="484.5" stroke="#99D2EB" stroke-opacity="0.2" stroke-width="2" />
            </svg>
        </div>
    </section>
    
</section>