<section id="social-responsibility" class="lg:mt-[100px]">
    <h1 class="uppercase text-xl lg:text-[40px] tracking-[0.3em] text-briix-grey-7 leading-[34px] font-medium text-center">SOCIAL RESPONSIBILITY</h1>
    <div class="grid grid-cols-6 mt-10">
        <div class="col-span-3">
            <div class="lg:p-[100px]">
                <noscript>
                    <h1 class="font-semibold text-2xl lg:text-[32px] leading-[47px] mb-10">Integrating sustainability insights into our development and management systems</h1>
                    <p class="leading-[34px]">
                        Our business is driven by an unwavering commitment towards sustainability, and a profound belief that environmentally and socially responsible property developments are not only better for our planet, but also for long-term asset performance.
                        <br class="hidden lg:block"/>
                        <br class="hidden lg:block"/>
                        We believe that we become significantly better property developers and managers by incorporating environmental, social and governance (ESG) principles in to our analysis, review, approval and financing processes.
                    </p>
                </noscript>
                <h1 data-aos="fade-bottom" class="font-semibold text-2xl lg:text-[32px] leading-[47px] mb-10">Integrating sustainability insights into our development and management systems</h1>
                <p data-aos="fade-up" class="leading-[34px]">
                    Our business is driven by an unwavering commitment towards sustainability, and a profound belief that environmentally and socially responsible property developments are not only better for our planet, but also for long-term asset performance.
                    <br class="hidden lg:block"/>
                    <br class="hidden lg:block"/>
                    We believe that we become significantly better property developers and managers by incorporating environmental, social and governance (ESG) principles in to our analysis, review, approval and financing processes.
                </p>
            </div>
        </div>
        <div class="col-span-3 flex flex-col items-end">
            {{/*  Social Responsibility  */}}
            <img class="w-full h-full object-cover" src="img/social_responsiobility.jpg" alt="social_responsibilities">
        </div>
    </div>
     {{/*  Master Plan  */}}
    <div class="relative h-full w-full object-cover">
        <img class="w-full h-full object-cover" src="img/siwa_masterplan.jpg" alt="siwa_masterplan">
        <div class="lg:absolute inset-0 text-white z-10 flex flex-col items-center justify-center">
            <div class="bg-white/50 mx-auto flex flex-col items-center w-4/5 h-full lg:max-h-[364px]">
                <div class="-mt-20">
                    <img width="214" height="214" src="img/briix_logo.png" alt="briix_logo">
                </div>
                <div class="flex items-center justify-between w-full px-24 mt-5">
                    <div class="w-40 h-40 grid place-content-center bg-gray-300">
                        <p>PLACEHOLDER</p>
                    </div>
                    <div class="w-40 h-40 grid place-content-center bg-gray-300">
                        <p>PLACEHOLDER</p>
                    </div>
                    <div class="w-40 h-40 grid place-content-center bg-gray-300">
                        <p>PLACEHOLDER</p>
                    </div>
                    <div class="w-40 h-40 grid place-content-center bg-gray-300">
                        <p>PLACEHOLDER</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>