<section id="what-we-do" class="lg:h-[500px] lg:my-[200px]">
    <div class="grid grid-cols-6">
        <div class="col-span-3">
            <div class="lg:p-[100px]">
                <noscript>
                    <h1 class="font-semibold text-2xl lg:text-[32px] leading-[47px] mb-10">Integrating sustainability insights into our development and management systems</h1>
                    <p class="text-xl leading-[34px]">
                        Our business is driven by an unwavering commitment towards sustainability, and a profound belief that environmentally and socially responsible property developments are not only better for our planet, but also for long-term asset performance.
                        <br class="hidden lg:block"/>
                        <br class="hidden lg:block"/>
                        We believe that we become significantly better property developers and managers by incorporating environmental, social and governance (ESG) principles in to our analysis, review, approval and financing processes.
                    </p>
                </noscript>
                <h1 data-aos="fade-bottom" class="font-semibold text-2xl lg:text-[32px] leading-[47px] mb-10">Integrating sustainability insights into our development and management systems</h1>
                <p data-aos="fade-up" class="text-xl leading-[34px]">
                    Our business is driven by an unwavering commitment towards sustainability, and a profound belief that environmentally and socially responsible property developments are not only better for our planet, but also for long-term asset performance.
                    <br class="hidden lg:block"/>
                    <br class="hidden lg:block"/>
                    We believe that we become significantly better property developers and managers by incorporating environmental, social and governance (ESG) principles in to our analysis, review, approval and financing processes.
                </p>
            </div>
        </div>
        <div class="col-span-3 flex flex-col items-end">
            {{/*  Video What We Do  */}}
            {{/*  <img src="img/social_responsibilities.jpg" alt="social_responsibilities">  */}}
            {{ with resources.Get "images/img/social_responsibilities.jpg" }}
                <img class="w-full h-full object-cover" src="{{ .RelPermalink }}" alt="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"/>
            {{ end }}
        </div>
    </div>
</section>