<section id="what-we-do" class="mt-20 lg:mt-[200px] lg:h-[500px]">
    <div class="grid grid-cols-6">
        <div class="col-span-3">
            <div class="lg:p-[100px]">
                <h1 class="font-semibold text-2xl lg:text-4xl leading-[47px] tracking-[0.2em] mb-10">WHAT WE DO</h1>
                <p class="text-xl leading-[34px]">
                    We offer an exclusive opportunities for you to own a luxury resort villas across some of the most beautiful destinations in Indonesia, Bali & Lombok.
                    <br class="hidden lg:block"/> 
                    <br class="hidden lg:block"/> 
                    We seek to push boundaries with the luxury resort investment opportunities that we offer, overcoming limitations so the opportunity to own is more accesible.
                </p>
            </div>
        </div>
        <div class="col-span-3 flex flex-col items-end">
            {{/*  Video What We Do  */}}
            <video class="object-cover h-full w-full aspect-auto" playsinline autoplay muted id="platformvid" loop>
                <source
                    src="/video/what_we_do.mp4"
                    type="video/mp4"
                />
            </video>
        </div>
    </div>
</section>